body {
  font-family: sans-serif;
  background-color: #dee3e7;
  margin: 0;
}

#alert-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 1em;
}

div.alert {
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
  word-wrap: anywhere;
}

header .critical {
  background-color: salmon;
  padding: 1em;
  color: black;
  font-weight: bold;
}

div.alert.critical {
  background-color: salmon;
}

div.alert.severe {
  background-color: sandybrown;
}

div.alert.info {
  background-color: lightblue;
}

div.alert.warning {
  background-color: lightgoldenrodyellow;
}

a, a:visited {
  color: blue;
  text-decoration: none;
  display: block;
  color: black;
}

a:focus {
  background-color: black;
  color: white;
}

header {
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  gap: 1em;
  border-bottom: 1px solid #3f3f3f;
  box-shadow: 0px 0px 6px 5px #aaa;
  align-items: center;
}

header .aside {
  flex-grow: 0;
}

h1 {
  color: white;
  font-size: 1em;
  flex-grow: 1;
}

header img {
  width: 2em;
  height: 2em;
  padding: .5em;
}

main {
  margin: 2em;
}
